//-----[---ШРИФТЫ---]-----------------------------------------------------------------------------------------------------------------
//-----[Шрифт по умолчанию/]----------------------------------------------------------------------------------------------------------
body {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	color: #fff;
	background-color: #181818;
}
//-----[/Шрифт по умолчанию/]---------------------------------------------------------------------------------------------------------
//-----[--/ШРИФТЫ/--]-----------------------------------------------------------------------------------------------------------------

//-----[---ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ---]---------------------------------------------------------------------------------------------
@import "sourse/null.scss";
//-----[--/ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ/--]---------------------------------------------------------------------------------------------

//-----[---ОБОЛОЧКА---]---------------------------------------------------------------------------------------------------------------
.wrapper {
	width: 100%;
	height: 100%;
	background-color: #181818;
	@media (min-width: 1200px) {
		background-image: url('../img/bg.svg');
		background-repeat: repeat;
	}
}
//-----[--/ОБОЛОЧКА/--]---------------------------------------------------------------------------------------------------------------

//-----[---ОСНОВНАЯ СЕТКА---]---------------------------------------------------------------------------------------------------------
.container {
	margin: 0 auto;
	padding: 0 15px;
	@media (min-width: 1200px) {
		padding: 0 30px 0 100px;
	}
}
//-----[--/ОСНОВНАЯ СЕТКА/--]---------------------------------------------------------------------------------------------------------

//-----[---ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ---]--------------------------------------------------------------------------
@import "sourse/content.scss";
@import "sourse/animation.scss";
@import "sourse/interface.scss";
//-----[--/ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ/--]--------------------------------------------------------------------------
